################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/Personal Director/v16
/Personal Director/bin
/Personal Director/obj
/.vs/Personal Director/v15
